src/menus/__pycache__/Arquivo.cpython-38.pyc
src/menus/__pycache__/Editar.cpython-38.pyc
src/menus/__pycache__/Preferencias.cpython-38.pyc
config/config.json
src/menus/Preferencias/__pycache__/gui_preferencias.cpython-38.pyc
src/menus/Preferencias/__pycache__/Preferencias.cpython-38.pyc
src/menus/Preferencias/__pycache__/GerenciadorJsonConfig.cpython-38.pyc
